In [1]:
import pandas as pd

def sh(df):
    print(df.shape)
    return df.head()

In [2]:
df = pd.read_csv('pa2.csv')
df.columns = ['acc', 'grp', 'id', 'func']
sh(df)

(21408, 4)

          acc  grp     id func
0  045026-001  G99  63963   PE
1  024042-000  C99  65064   PE
2  045066-001  G99  61712   PE
3  045072-012  G99  48052   PE
4  045135-436  C99  54623   PE

In [3]:
df.id = df.id.astype(str)
df1 = df.pivot_table(index = ['acc', 'grp','func'], values = 'id', aggfunc = lambda x: ' '.join(x)).unstack('func').reset_index()
df1.columns = df1.columns.droplevel(0)
df1.columns = ['acc', 'grp', 'id_ER', 'id_PE']
sh(df1)

(10952, 4)

          acc  grp  id_ER  id_PE
0  000006-004  C99  60791  60791
1  000190-001  P99  59038  59038
2  000198-003  G99    NaN  66102
3  000261-006  G99  52950  52950
4  000296-001  C99  44800  44800